<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CachedManifest</key>
	<dict>
		<key>manifestData</key>
		<data>
		eyJkZXBlbmRlbmNpZXMiOlt7InNvdXJjZUNvbnRyb2wiOlt7ImlkZW50aXR5
		IjoibGxtLnN3aWZ0IiwibG9jYXRpb24iOnsicmVtb3RlIjpbeyJ1cmxTdHJp
		bmciOiJodHRwczpcL1wvZ2l0aHViLmNvbVwvb3RhYnV6em1hblwvbGxtLnN3
		aWZ0In1dfSwicHJvZHVjdEZpbHRlciI6bnVsbCwicmVxdWlyZW1lbnQiOnsi
		cmFuZ2UiOlt7Imxvd2VyQm91bmQiOiIxLjIuMTEiLCJ1cHBlckJvdW5kIjoi
		Mi4wLjAifV19fV19LHsic291cmNlQ29udHJvbCI6W3siaWRlbnRpdHkiOiJj
		aXJjdWxhcmJ1ZmZlciIsImxvY2F0aW9uIjp7InJlbW90ZSI6W3sidXJsU3Ry
		aW5nIjoiaHR0cHM6XC9cL2dpdGh1Yi5jb21cL290YWJ1enptYW5cL0NpcmN1
		bGFyQnVmZmVyIn1dfSwicHJvZHVjdEZpbHRlciI6bnVsbCwicmVxdWlyZW1l
		bnQiOnsicmFuZ2UiOlt7Imxvd2VyQm91bmQiOiIxLjAuMSIsInVwcGVyQm91
		bmQiOiIyLjAuMCJ9XX19XX1dLCJkaXNwbGF5TmFtZSI6IkxsbVN3aWZ0Iiwi
		cGFja2FnZUtpbmQiOnsicm9vdCI6e319LCJwbGF0Zm9ybXMiOlt7Im9wdGlv
		bnMiOltdLCJwbGF0Zm9ybU5hbWUiOiJpb3MiLCJ2ZXJzaW9uIjoiMTguMSJ9
		XSwicHJvZHVjdHMiOlt7Im5hbWUiOiJMbG1Td2lmdCIsInNldHRpbmdzIjpb
		eyJkaXNwbGF5VmVyc2lvbiI6WyIxLjAiXX0seyJidW5kbGVWZXJzaW9uIjpb
		IjEiXX0seyJpT1NBcHBJbmZvIjpbeyJhY2NlbnRDb2xvciI6eyJwcmVzZXRD
		b2xvciI6eyJwcmVzZXRDb2xvciI6eyJyYXdWYWx1ZSI6InllbGxvdyJ9fX0s
		ImFwcEljb24iOnsiYXNzZXQiOnsibmFtZSI6IkFwcEljb24ifX0sImNhcGFi
		aWxpdGllcyI6W10sInN1cHBvcnRlZERldmljZUZhbWlsaWVzIjpbInBhZCIs
		InBob25lIl0sInN1cHBvcnRlZEludGVyZmFjZU9yaWVudGF0aW9ucyI6W3si
		cG9ydHJhaXQiOnt9fSx7ImxhbmRzY2FwZVJpZ2h0Ijp7fX0seyJsYW5kc2Nh
		cGVMZWZ0Ijp7fX0seyJwb3J0cmFpdFVwc2lkZURvd24iOnsiY29uZGl0aW9u
		Ijp7ImRldmljZUZhbWlsaWVzIjpbInBhZCJdfX19XX1dfV0sInRhcmdldHMi
		OlsiQXBwTW9kdWxlIl0sInR5cGUiOnsiZXhlY3V0YWJsZSI6bnVsbH19XSwi
		dGFyZ2V0TWFwIjp7IkFwcE1vZHVsZSI6eyJkZXBlbmRlbmNpZXMiOlt7InBy
		b2R1Y3QiOlsiTGxtRG90U3dpZnQiLCJsbG0uc3dpZnQiLG51bGwsbnVsbF19
		LHsicHJvZHVjdCI6WyJDaXJjdWxhckJ1ZmZlciIsIkNpcmN1bGFyQnVmZmVy
		IixudWxsLG51bGxdfV0sImV4Y2x1ZGUiOltdLCJuYW1lIjoiQXBwTW9kdWxl
		IiwicGFja2FnZUFjY2VzcyI6dHJ1ZSwicGF0aCI6Ii4iLCJyZXNvdXJjZXMi
		OltdLCJzZXR0aW5ncyI6W3sia2luZCI6eyJlbmFibGVVcGNvbWluZ0ZlYXR1
		cmUiOnsiXzAiOiJCYXJlU2xhc2hSZWdleExpdGVyYWxzIn19LCJ0b29sIjoi
		c3dpZnQifV0sInR5cGUiOiJleGVjdXRhYmxlIn19LCJ0YXJnZXRzIjpbeyJk
		ZXBlbmRlbmNpZXMiOlt7InByb2R1Y3QiOlsiTGxtRG90U3dpZnQiLCJsbG0u
		c3dpZnQiLG51bGwsbnVsbF19LHsicHJvZHVjdCI6WyJDaXJjdWxhckJ1ZmZl
		ciIsIkNpcmN1bGFyQnVmZmVyIixudWxsLG51bGxdfV0sImV4Y2x1ZGUiOltd
		LCJuYW1lIjoiQXBwTW9kdWxlIiwicGFja2FnZUFjY2VzcyI6dHJ1ZSwicGF0
		aCI6Ii4iLCJyZXNvdXJjZXMiOltdLCJzZXR0aW5ncyI6W3sia2luZCI6eyJl
		bmFibGVVcGNvbWluZ0ZlYXR1cmUiOnsiXzAiOiJCYXJlU2xhc2hSZWdleExp
		dGVyYWxzIn19LCJ0b29sIjoic3dpZnQifV0sInR5cGUiOiJleGVjdXRhYmxl
		In1dLCJ0b29sc1ZlcnNpb24iOnsiX3ZlcnNpb24iOiI1LjkuMCJ9fQ==
		</data>
		<key>manifestHash</key>
		<data>
		ojdLBMrV0acdsji1Cnws/ImCyeC72dol+yqV3RiVUzU=
		</data>
		<key>schemaVersion</key>
		<integer>4</integer>
		<key>swiftPMVersionString</key>
		<string>6.0.2-dev</string>
	</dict>
</dict>
</plist>
