<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CachedManifest</key>
	<dict>
		<key>manifestData</key>
		<data>
		eyJkZXBlbmRlbmNpZXMiOlt7InNvdXJjZUNvbnRyb2wiOlt7ImlkZW50aXR5
		IjoiZ2xvYiIsImxvY2F0aW9uIjp7InJlbW90ZSI6W3sidXJsU3RyaW5nIjoi
		aHR0cHM6XC9cL2dpdGh1Yi5jb21cL0JvdWtlXC9HbG9iLmdpdCJ9XX0sInBy
		b2R1Y3RGaWx0ZXIiOm51bGwsInJlcXVpcmVtZW50Ijp7InJhbmdlIjpbeyJs
		b3dlckJvdW5kIjoiMS4wLjUiLCJ1cHBlckJvdW5kIjoiMi4wLjAifV19fV19
		LHsic291cmNlQ29udHJvbCI6W3siaWRlbnRpdHkiOiJjaXJjdWxhcmJ1ZmZl
		ciIsImxvY2F0aW9uIjp7InJlbW90ZSI6W3sidXJsU3RyaW5nIjoiaHR0cHM6
		XC9cL2dpdGh1Yi5jb21cL290YWJ1enptYW5cL0NpcmN1bGFyQnVmZmVyLmdp
		dCJ9XX0sInByb2R1Y3RGaWx0ZXIiOm51bGwsInJlcXVpcmVtZW50Ijp7InJh
		bmdlIjpbeyJsb3dlckJvdW5kIjoiMS4wLjEiLCJ1cHBlckJvdW5kIjoiMi4w
		LjAifV19fV19XSwiZGlzcGxheU5hbWUiOiJMbG1Td2lmdCIsInBhY2thZ2VL
		aW5kIjp7InJvb3QiOnt9fSwicGxhdGZvcm1zIjpbeyJvcHRpb25zIjpbXSwi
		cGxhdGZvcm1OYW1lIjoiaW9zIiwidmVyc2lvbiI6IjE3LjQifV0sInByb2R1
		Y3RzIjpbeyJuYW1lIjoiTGxtU3dpZnQiLCJzZXR0aW5ncyI6W3siYnVuZGxl
		SWRlbnRpZmllciI6WyJjb20ub3RhYnV6em1hbi5sbG1zd2lmdC5pb3MiXX0s
		eyJ0ZWFtSWRlbnRpZmllciI6WyIyOEZWNDQ2NTdCIl19LHsiZGlzcGxheVZl
		cnNpb24iOlsiMS4xLjExIl19LHsiYnVuZGxlVmVyc2lvbiI6WyIyMyJdfSx7
		ImlPU0FwcEluZm8iOlt7ImFjY2VudENvbG9yIjp7InByZXNldENvbG9yIjp7
		InByZXNldENvbG9yIjp7InJhd1ZhbHVlIjoieWVsbG93In19fSwiYXBwQ2F0
		ZWdvcnkiOnsicmF3VmFsdWUiOiJwdWJsaWMuYXBwLWNhdGVnb3J5LmVkdWNh
		dGlvbiJ9LCJhcHBJY29uIjp7ImFzc2V0Ijp7Im5hbWUiOiJBcHBJY29uIn19
		LCJjYXBhYmlsaXRpZXMiOltdLCJzdXBwb3J0ZWREZXZpY2VGYW1pbGllcyI6
		WyJwYWQiLCJwaG9uZSJdLCJzdXBwb3J0ZWRJbnRlcmZhY2VPcmllbnRhdGlv
		bnMiOlt7InBvcnRyYWl0Ijp7fX0seyJsYW5kc2NhcGVSaWdodCI6e319LHsi
		bGFuZHNjYXBlTGVmdCI6e319LHsicG9ydHJhaXRVcHNpZGVEb3duIjp7ImNv
		bmRpdGlvbiI6eyJkZXZpY2VGYW1pbGllcyI6WyJwYWQiXX19fV19XX1dLCJ0
		YXJnZXRzIjpbIkFwcE1vZHVsZSJdLCJ0eXBlIjp7ImV4ZWN1dGFibGUiOm51
		bGx9fV0sInRhcmdldE1hcCI6eyJBcHBNb2R1bGUiOnsiZGVwZW5kZW5jaWVz
		IjpbeyJwcm9kdWN0IjpbIkdsb2IiLCJHbG9iIixudWxsLG51bGxdfSx7InBy
		b2R1Y3QiOlsiQ2lyY3VsYXJCdWZmZXIiLCJDaXJjdWxhckJ1ZmZlciIsbnVs
		bCxudWxsXX1dLCJleGNsdWRlIjpbXSwibmFtZSI6IkFwcE1vZHVsZSIsInBh
		Y2thZ2VBY2Nlc3MiOnRydWUsInBhdGgiOiIuIiwicmVzb3VyY2VzIjpbXSwi
		c2V0dGluZ3MiOlt7ImtpbmQiOnsiZW5hYmxlVXBjb21pbmdGZWF0dXJlIjp7
		Il8wIjoiQmFyZVNsYXNoUmVnZXhMaXRlcmFscyJ9fSwidG9vbCI6InN3aWZ0
		In1dLCJ0eXBlIjoiZXhlY3V0YWJsZSJ9fSwidGFyZ2V0cyI6W3siZGVwZW5k
		ZW5jaWVzIjpbeyJwcm9kdWN0IjpbIkdsb2IiLCJHbG9iIixudWxsLG51bGxd
		fSx7InByb2R1Y3QiOlsiQ2lyY3VsYXJCdWZmZXIiLCJDaXJjdWxhckJ1ZmZl
		ciIsbnVsbCxudWxsXX1dLCJleGNsdWRlIjpbXSwibmFtZSI6IkFwcE1vZHVs
		ZSIsInBhY2thZ2VBY2Nlc3MiOnRydWUsInBhdGgiOiIuIiwicmVzb3VyY2Vz
		IjpbXSwic2V0dGluZ3MiOlt7ImtpbmQiOnsiZW5hYmxlVXBjb21pbmdGZWF0
		dXJlIjp7Il8wIjoiQmFyZVNsYXNoUmVnZXhMaXRlcmFscyJ9fSwidG9vbCI6
		InN3aWZ0In1dLCJ0eXBlIjoiZXhlY3V0YWJsZSJ9XSwidG9vbHNWZXJzaW9u
		Ijp7Il92ZXJzaW9uIjoiNS45LjAifX0=
		</data>
		<key>manifestHash</key>
		<data>
		+8iPHaQS83lqoCTjYdrb0KNRAhvB450OHDWfz6LF4wI=
		</data>
		<key>schemaVersion</key>
		<integer>4</integer>
		<key>swiftPMVersionString</key>
		<string>5.10.0-dev</string>
	</dict>
</dict>
</plist>
